<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="show">
      <h3><%= data.title %></h3>
      <div class="time"
  </body>
</html>
